@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&family=Open+Sans:wght@600&display=swap');
#root {
    height: 100vh;
    width: 100%;
    background: transparent
     linear-gradient(90deg, #49BE9F 0%, #57BAA1 20%, #6D6FBF 48%, #817AD1 67%, #E98FB9 100%) 
    0% 0% no-repeat padding-box;
}

#root #subRoot, #root #subRoot #row1, #root #subRoot #row1 #col1 {
    height: 100%;
}

#root #subRoot #row1 #col1 .content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#first h2, #last h2 {
    font: normal normal 600 30px/65px 'Baloo Thambi 2';
}

.inputURL {
    position: relative;
}

.copyTxtHover {
    background-color:#c0a1da;
    position: absolute;
    top: -40px;
    right: 0;
    font: normal normal 600 11px/13px 'Open Sans';
    padding: 10px 18px;
    border-radius: 6px;
    text-align: center;
    color: #FFF;
    display: none;
}

.copyTxtHover span:last-child {
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-top: 8px solid #c0a1da;
    position: absolute;
    bottom: -5px;
    right: 20px;
}

.url, .desiredKeyword, .copiedTxt {
    height: 47px;
    width: 100%;
    border-radius: 24px;
    border: none;
    outline: none;
   
}



.url::-webkit-input-placeholder, .desiredKeyword::-webkit-input-placeholder {
    opacity: 0.5;
    color: #1D2754;
    font: normal normal normal 14px/25px 'Baloo Thambi 2';
}

#httpsWord, #word {
    color: #FFF;
    font: normal normal normal 15px/25px 'Baloo Thambi 2';
}

#httpsWord {
    opacity: 0.3;
}

.specialButton {
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 2px;
    border-radius: 22px;
    height: 43px;
    width: 97px;
    display: block;
    border: none;
    outline: none;
    background-color: red;
    color: #FFF;
    background: transparent linear-gradient(90deg, #B14ABE 0%, #9090E9 100%) 0% 0% no-repeat padding-box;
    letter-spacing: 0.55px;
}

#last .specialButton {
    width: 43px;
    font-size: 16px;
    display: block;
    text-align: center;
}

.login, .signup, .specialButton {
    font: normal normal 600 11px/13px 'Open Sans';
}


.login, .login:hover, .login:active {
    color: #FFF;
    outline: none;
}

.signup {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    color: #E990B9;
    width: 90px;
    height: 35px;
    text-transform: uppercase;
}

.pickDomain, .pickDomain:active {
    top: 0;
    bottom: 0;
    right: 0px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: red;
    color: #FFF;
    background: transparent linear-gradient(90deg, #B14ABE 0%, #9090E9 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    font-family: 'Baloo Thambi 2', cursive;
}

#first {
    display: block;
}

#last {
    display: none;
}

#reset {
    width: 101px;
    height: 35px;
    border-radius: 24px;
    font: normal normal normal 14px/25px 'Open Sans';
    color: #4ABE9F;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reset span { margin-left: 2px }

.bottomFullImage {
    position: relative;
}

.bottomFullImage .absImage {
    position: absolute;
    left: 44%;
    top: 67px;
}

.bottomFullImage .resetAbsImage {
    position: absolute;
    left: 47%;
    top: 65px;
    display: none;
}

@media (min-width: 768px) and (max-width: 992px) { 
    .bottomFullImage .absImage {
        top: 40px;
    }
    .bottomFullImage .resetAbsImage {
        left: 45%;
    }
    
    
}

@media (min-width: 576px) and (max-width: 768px) { 
    .bottomFullImage .absImage {
        left: 43%;
        top: 22px;
    }
    .bottomFullImage .resetAbsImage {
        top: 20px;
    }
 }

 @media (max-width: 575.98px) { 
    .bottomFullImage .absImage, .bottomFullImage .resetAbsImage {
      display: none
    }
  }

